.wrapper 
{
	height: 660px;
	width:350px;
	/*background-color:red*/
}
header
{
	height: 130 px;
	width:1364px;
	background-color:black;
}
section
{
	height: 450 px:
	width: 1364 px;
	background-color:grey;
}
footer:
{
	height: 80 px;
	width:136 px;
    background-color:black;
}


